html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  margin: 0;
  /*overflow-y: scroll; /* Enable vertical scrolling */
}

canvas {
  display: block; /* Ensure canvas is treated as a block element */
  margin: 0 auto; /* Optional: center the canvas horizontally */
}

.extra-content {
  height: 2000px;
}

#header {
  position: fixed; /* Make it fixed at the top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  background: rgba(255, 255, 255, 0.0); /* Transparent white background */
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000; /* Make sure it stays on top of other elements */
  /*backdrop-filter: blur(5px); /* Optional: add blur effect behind the header */
}

#header-logo {
  padding-top: 20px;
  padding-left: 30px;
  float: left;
  height: 75px;
  width: 75px;


}